@charset "UTF-8";

#page {
    height: 2000px;
    width: 990px;
    position:absolute;
    left:80px;
    right:80px;
    margin:0 auto;
}

#top {
    text-align: center;
    background-color: darkred;
    color: aliceblue;
}

#photo {
    height:330px;
    width: 230px;
    float: left;
}

#lanlu {
    text-align: left;
    line-height: 30px;
    height: 330px;
    width: 410px;
    float:left;
}

#research {
    text-align: left;
    line-height: 30px;
    height: 330px;
    width: 250px;
    float:left;
}

#intro {
    text-align: left;
    line-height: 30px;
    clear: left;
}

#education {
    text-align: left;
    line-height: 30px;
}

#interests {
    text-align: left;
    line-height: 30px;
}